body {
    background-color: #111;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    font-family: 'Terminal', sans-serif;
    line-height: 1.0;
}

p {
    line-height: 1.5;
    font-size: 2vw;
}

a {
    line-height: 2;
    font-size: 1.5vw;
}

b {
    line-height: 2;
    font-size: 2vw; 
}

h1 {
    line-height: 1.0;
    font-size: 4vw; 
}

h2 {
    line-height: 1.0;
    font-size: 3vw;
}


#snake1 {
    margin-top: -100px;
    width:50%;
}

#snake2 {
    margin-top: -100px;
    width:50%;
}

#profile-picture {
    margin-top: -100px;
}


@media (max-width: 5000px) {
    body {
        font-size: 10px; 
    }

    img {
        max-width: 100%; 
    }

    p {
        font-size: 2vw; 
    }
    a{
        font-size: 1.5vw;
    }

    b {
        font-size: 2vw; 
    }

    h1 {
        font-size: 4vw; 
    }
    h2 {
        font-size: 3vw; 
    }

    #snake1 {
        margin-top: -100px;
        max-width:200%;
    }

    #snake2 {
        margin-top: -100px;
        max-width:200%;
    }

}


#navbar {
    background-color: #000;
    padding: 20px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}

@media (max-width: 768px) {
    #navbar {
        padding: 10px; 
    }
}

#navbar a {
    text-decoration: none;
    color: #fff;
    margin: 0 1vw; 
    font-size: 2vw; 
}

desc {
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    font-family: 'Terminal', sans-serif;
    line-height: 2.0;
    font-size: 2vw; 
}

#navbar a:hover {
    color: hsl(0, 100%, 50%);
}

#header {
    padding: 100px 0;
    margin-top: -100px;
}

.profile-container {
    margin-top:20px;
    display: flex;
    align-items: center; 
    justify-content: center;
  }

  

#profile-picture img {
    width: 80%;
    height: auto; 
    border-radius: 50%;
    border: 3px solid #ff0000;
    align-items: center; 
    justify-content: center;
}




#buttons {
    margin-top: 30px;
}

.button {
    display: inline-block;
    padding: 15px 30px;
    margin: 10px;
    background-color: #ff0000;
    color: #000;
    text-decoration: none;
    font-size: 18px;
    border: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #ff0000;
}

.header-icons {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top:20px;
}

.down,
.header-icons .icon {
    color: #fff;
    text-align: center
}

.header-icons .icon {
    height: 20px;
    padding: 10px;
    border-radius: 50%;
    border: 2px solid #fff;
    transition: all .7s;
    width: 20px;
    font-size: 20px;
    margin: 5px
}

.header-icons .icon:active,
.header-icons .icon:hover {
    color: #ff0000;
    background: #fff
}

.hover-link {
color: #ffffff; 
text-decoration: none;
border-bottom: 2px solid #ffffff; 
}

.hover-link:hover {
color: #ff0000; 
text-decoration: none;
border-bottom: 2px solid #ff0000; 
}

